<a href="https://colab.research.google.com/github/dakshayani2906/Data-Science-Portfolio/blob/main/HR_Snapshot_Dashboard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random

def get_choices():
  player_choice = input("Enter a choice (rock, paper, scissors: ")
  computer_choice = "paper"
  choices = {"player": player_choice, "computer" : computer_choice}

  return choices


choice = get_choices()
print(choice)

In [ ]:
def check_win(player, computer):
  return[player, computer]

In [ ]:
spam = 0
while spam < 5:
  print("Hello, world.")
  spam = spam +1

Hello, world.
Hello, world.
Hello, world.
Hello, world.
Hello, world.

In [ ]:
while True:
  print("Please type your name.")
  name = input()
  if name == "your name":
    break
print("Thank you")

Please type your name.
Aishu
Please type your name.
your name
Thank you

In [ ]:
while True:
  print("Who are you?")
  name = input()
  if name != "John" :
    continue
  print("Hello, John. WHat is the password? (It is a fish.)")
  password = input()
  if password == "swordfish":
    break

print("Access granted.")

WHo are you?
Aishu
WHo are you?
John
Hello, Hohn. WHat is the password? (It is a fish.)
fish
WHo are you?
John
Hello, Hohn. WHat is the password? (It is a fish.)
fish
WHo are you?
john
WHo are you?
John
Hello, Hohn. WHat is the password? (It is a fish.)
swordfish
Access grantes.

In [ ]:
print("My name is")
for i in range(5):
  print("John Five Times ({})" .format(str(i)))

My name is
John Five Times (0)
John Five Times (1)
John Five Times (2)
John Five Times (3)
John Five Times (4)

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(5,-1,-1):
  print(i)

5
4
3
2
1
0

In [ ]:
for i in [1,2,3,4,5]:
  if i == 3:
    break
else:
  print("Only executed when no item of the list is equal to 3")

print(i)

3

In [ ]:
import random
for i in range(5):
  print(random.randint(1,10))

6
3
3
6
6

In [ ]:
import sys

while True:
  print("Type exit to exit.")
  response = input()
  if response == 'exit':
    sys.exit()
  print("You typed {}.'.format(response)")

Type exit to exit.
hi
You typed {}.'.format(response)
Type exit to exit.
exit

SystemExit:

In [ ]:
def hello(name):
  print("hello {}" .format(name))

hello("Aishu")
hello("Raja")

hello Aishu
hello Raja

In [ ]:
import random
def getAnswer(answerNumber):
  if answerNumber == 1:
    return "It is certain"
  elif answerNumber == 2:
    return "It is deidedly so"
  elif answerNumber == 3:
    return "Yes"
  elif answerNumber == 4:
    return "Very doubtful"

r = random.randint(1,4)
fortune = getAnswer(r)
print(fortune)

Very doubtful

In [ ]:
def spam():
  global eggs
  eggs = "spam"

eggs = "global"
spam()
print(eggs)

spam

In [ ]:
def spam(divideBy):
  try:
    return 42 / divideBy
  except ZeroDivisionError as e:
    print("Error: Invalid argument: {}".format(e))

print(spam(2))
print(spam(12))
print(spam(0))
print(spam(1))

21.0
3.5
Error: Invalid argument: division by zero
None
42.0

In [ ]:
def spam(divideBy):
  try:
    return 42 / divideBy
  except ZeroDivisionError as e:
    print("Error: Invalid argument: {}".format(e))
  finally:
    print("-- division finished --")

print(spam(2))
print(spam(12))
print(spam(0))
print(spam(1))

-- division finished --
21.0
-- division finished --
3.5
Error: Invalid argument: division by zero
-- division finished --
None
-- division finished --
42.0

In [ ]:
print(''' Dear Aishu,

How are you doing?

We are going to Goa in next Holiday.

With Love,
Amma ''')

 Dear Aishu,

How are you doing?

We are going to Goa in next Holiday.

With Love,
Amma

In [ ]:
"Hello" in "Hello World"

True

In [ ]:
def box_print(symbol, width, height):
  if len(symbol) != 1:
    raise Exception("Symbol must be a single character string.")
  if width <= 2:
    raise Exception("Width must be greater than 2.")
  if height <= 2:
    raise Exception("Height must be greater than 2.")
  print(symbol * width)
  for i in range(height - 2):
    print(symbol + (' ' * (width - 2)) + symbol)
  print(symbol * width)

for sym, w, h in (('*', 5,5), ("O", 20,5), ("x", 1,2), ("Z",9,9)):
  try:
    box_print(sym,w,h)
  except Exception as err:
    print("An exception happened: " + str(err))

*****
*   *
*   *
*   *
*****
OOOOOOOOOOOOOOOOOOOO
O                  O
O                  O
O                  O
OOOOOOOOOOOOOOOOOOOO
An exception happened: Width must be greater than 2.
ZZZZZZZZZ
Z       Z
Z       Z
Z       Z
Z       Z
Z       Z
Z       Z
Z       Z
ZZZZZZZZZ

In [ ]:
def add(a,b):
  return a+b

add(20,30)

50

In [ ]:
'' if ____name____ == " ___main___":
  add(3,5)
'''

import calculate
calculate.add(3,5)

SyntaxError: unterminated triple-quoted string literal (detected at line 6) (ipython-input-1126402812.py, line 3)

In [ ]:
class Employee:
  def __init__(self, first, last, pay):
    self.first = first
    selff.last = %logstateself,pay = pay
    self.email = first +"." + laast + "@company.com"

In [ ]:
emp_1 = Employee('daisy', 'doll',5000)
emp_2 = Employee('daisy', 'doll',5000)

In [ ]:
print(emp_1)
print(emp_2)

<__main__.Employee object at 0x7a6fe9363470>
<__main__.Employee object at 0x7a6fe93639e0>

In [ ]:
emp_1.first = "Daisy"
emp_1.last = "Doll"
emp_1.email = "daisy.doll@company.com"
emp_1.pay = 50000

print(emp_1.email)

daisy.doll@company.com