<a href="https://colab.research.google.com/github/dakshayani2906/Data-Science-Portfolio/blob/main/Learn_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Python Introduction**

### **Whay is Python?**

popoular programming language

created - Guido van Rossum in 1991

**used for?**

1. Web development (server side)
2. Software Development
3. Mathematics
4. System Scripting

**What can Python do?**

1. Python can be used on a server to create web applications.
2. Python can be used alongside software to create workflows.
3. Python can connect to database systems. It can also read and modify files.
4. Python can be used to handle big data and perform complex mathematics.
5. Python can be used for rapid prototyping, or for production-ready software development

**Why Python?**
1. Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
2. Python has a simple syntax similar to the English language.
3. Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
4. Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
5. Python can be treated in a procedural way, an object-oriented way or a functional way.

**Python Syntax compared to other programming languages??**
1. Python was designed for readability, and has some similarities to the English language with influence from mathematics.
2. Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
3. Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

Open Google Colab from your web and start doing it anywhere

In [185]:
# First code

print("Hello, World!")

Hello, World!

## **Python Indendation**

Indendation refers to the spaces at the beginning of a code line

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (ipython-input-3793329317.py, line 2)

In [4]:
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (ipython-input-3430240237.py, line 3)

## **Python Comments**

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.



**Creating a Comment**

Comments starts with a #, and Python will ignore them

In [ ]:
# Creating a Comment

# Comments starts with a #, and Python will ignore them

In [6]:
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
# Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [7]:
print("Hello, World!") #This is a comment

Hello, World!

In [8]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

### **Multiline Comments**

Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [9]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [10]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## **Python Variables**

Variables are containers for storing data values.

Creating Variables:
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [83]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [84]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

### **Casting**

If you want to specify the data type of a variable, this can be done with casting.

In [85]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

**Get the Type:**

You can get the data type of a variable with the type() function.

In [86]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

**Single or Double Quotes?**

String variables can be declared either by using single or double quotes:

In [87]:
x = "John"
# is the same as
x = 'John'

Case-Sensitive

Variable names are case-sensitive.

In [88]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

**Variable Names**

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

**Rules for Python variables:**

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
5. A variable name cannot be any of the Python keywords.

In [89]:
# Legal Variable Names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [90]:
# Illegal Variable Names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (ipython-input-675717240.py, line 3)

Variables are case - sensitive

### **Python Variables - Assign Multiple Values**

In [91]:
# Many Values to Multiple Variables
# Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

**One Value to Multiple Variables:**

And you can assign the same value to multiple variables in one line:

In [92]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

**Unpack a Collection:**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [93]:
#Unpaock a list:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

**Output Variables**

The Python print() function is often used to output variables.

In [94]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [95]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [96]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

In [97]:
# For numbers, the + character works as a mathematical operator:

x = 5
y = 10
print(x + y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [98]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [ ]:
x = 5
y = "John"
print(x, y)

**Global Variables**

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside

In [99]:
# Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [100]:
# Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

**The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [101]:
#If you sue the global keyword, the variable belong to global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [102]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## **Data Types**

**Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1. **Text Type**:	str
2. **Numeric Types**:	int, float, complex
3. **Sequence Types**:	list, tuple, range
4. **Mapping Type**:	dict
5. **Set Types**:	set, frozenset
6. **Boolean Type**:	bool
7. **Binary Types**:	bytes, bytearray, memoryview
8. **None Type**:	NoneType


**Getting the Data Type**

You can get the data type of any object by using the type() function:

In [35]:
# Print the data type of the variable x:

x = 5
print(type(x))

<class 'int'>

**Setting the Data Type:**

In Python, the data type is set when you assign a value to a variable:

**Example	Data Type	Try it**

x = "Hello World"	------ str
x = 20	------  int
x = 20.5 ------	float
x = 1j	 ----- complex
x = ["apple", "banana", "cherry"]	----- list
x = ("apple", "banana", "cherry")	----- tuple
x = range(6)	------ range
x = {"name" : "John", "age" : 36}	---- dict
x = {"apple", "banana", "cherry"}	-------  set
x = frozenset({"apple", "banana", "cherry"})	------ frozenset
x = True	------- bool
x = b"Hello"	-------- bytes
x = bytearray(5)	------- bytearray
x = memoryview(bytes(5))	--------  memoryview
x = None	-----------  NoneType

**Setting the Specific Data Type:**

If you want to specify the data type, you can use the following constructor functions:

x = str("Hello World")	str
x = int(20)	int
x = float(20.5)	float
x = complex(1j)	complex
x = list(("apple", "banana", "cherry"))	list
x = tuple(("apple", "banana", "cherry"))	tuple
x = range(6)	range
x = dict(name="John", age=36)	dict
x = set(("apple", "banana", "cherry"))	set
x = frozenset(("apple", "banana", "cherry"))	frozenset
x = bool(5)	bool
x = bytes(5)	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview

## **Python Numbers**

Python Numbers:

There are three numeric types in Python:

int
float
complex

Variables of numeric types are created when you assign a value to them:

In [38]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

**Int**

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [39]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

**Float**

Float, or "floating point number" is a number, positive or negative, containing one or more decimals

In [40]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [41]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

**Complex**

Complex numbers are written with a "j" as the imaginary part:

In [42]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

**Type Conversion**

You can convert from one type to another with the int(), float(), and complex() methods:

In [43]:
# Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Note: You cannot convert complex numbers into another number type.

**Random Number:**

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [44]:
import random

print(random.randrange(1, 10))

6

## **Python Casting**

**Specify a Variable Type**

There may be times when you want to specify a type on to a variable. This can be done with casting.

Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

**Casting in python is therefore done using constructor functions:**

1. int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [47]:
# Integers

x = int(1)
y = int(2.8)
z = int("3")

print(x)
print(y)
print(z)

1
2
3

In [48]:
# Float
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [49]:
# Strings

x = str("s1")
y = str(2)
z = str(3.0)

print(x)
print(y)
print(z)

s1
2
3.0

## **Python Strings**

**Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [50]:
print("Hello")
print('Hello')

Hello
Hello

**Quotes Inside Quotes:**

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [51]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

**Assign String to a Variable:**


Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [52]:
a = "Hello"
print(a)

Hello

**Multiline Strings:**

You can assign a multiline string to a variable by using three quotes:

In [54]:
# You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""


print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [57]:
# Or three single quotes:

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Note: in the result, the line breaks are inserted at the same position as in the code.

**Strings are Arrays**

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [58]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

**Looping Through a String:**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [59]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

**String Length**

To get the length of a string, use the len() function

In [60]:
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

**Check String:**

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [61]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

**Use it in an if statement:**

In [62]:
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

**Check if NOT:**

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [63]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

**Use it in an if statement:**

In [64]:
# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

**Python - Slicing Strings**

**Slicing**

You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.

In [65]:
# Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

Note: The first character has index 0.

**Slice From the Start:**

By leaving out the start index, the range will start at the first character:

In [66]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

**Slice To the End**

By leaving out the end index, the range will go to the end:

In [67]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

**Negative Indexing**

Use negative indexes to start the slice from the end of the string:

In [68]:
#Get the characters:

#From: "o" in "World!" (position -5)

#To, but not included: "d" in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

**Python - Modify Strings**

Python has a set of built-in methods that you can use on strings.

**Upper Case**

In [69]:
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

**Lower Case**

In [70]:
#The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

**Remove Whitespace**

Whitespace is the space before and/or after the actual text, and very often you want to remove this space

In [71]:
# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

**Replace String**

In [72]:
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

**Split String:**

The split() method returns a list where the text between the specified separator becomes the list items.

In [73]:
#The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

**Python - String Concatenation**

**String Concatenation:**

To concatenate, or combine, two strings you can use the + operator.

In [74]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [75]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

**Python - Format - Strings**

**String Format**

As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [76]:
age = 36
#This will produce an error:
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine strings and numbers by using f-strings or the format() method!

**F-Strings**

F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [77]:
# Create an f-string:

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

**Placeholders and Modifiers**

A placeholder can contain variables, operations, functions, and modifiers to format the value.

In [78]:
# Add a placeholder for the price variable:

price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

A placeholder can include a modifier to format the value.

A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals:

In [79]:
# Display the price with 2 decimals:

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

A placeholder can contain Python code, like math operations:

In [80]:
# Perform a math operation in the placeholder, and return the result:

txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

**Python - Escape Characters**

Escape Character

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [81]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (ipython-input-7934146.py, line 1)

To fix this problem, use the escape character \":

In [82]:
txt = "We are the so-called \"Vikings\" from the north."

**Escape Characters**

Other escape characters used in Python:

Code	Result
\'	Single Quote
\\	Backslash
\n	New Line
\r	Carriage Return
\t	Tab
\b	Backspace
\f	Form Feed
\ooo	Octal value
\xhh	Hex value

**Python - String Methods**

String Methods:

Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.


Method	Description:

1. capitalize()	Converts the first character to upper case
2. casefold()	Converts string into lower case
3. center()	Returns a centered string
4. count()	Returns the number of times a specified value occurs in a string
5. encode()	Returns an encoded version of the string
6. endswith()	Returns true if the string ends with the specified value
7. expandtabs()	Sets the tab size of the string
8. find()	Searches the string for a specified value and returns the position of where it was found
9. format()	Formats specified values in a string
10. format_map()	Formats specified values in a string
11. index()	Searches the string for a specified value and returns the position of where it was found
12. isalnum()	Returns True if all characters in the string are alphanumeric
13. isalpha()	Returns True if all characters in the string are in the alphabet
14. isascii()	Returns True if all characters in the string are ascii characters
15. isdecimal()	Returns True if all characters in the string are decimals
16. isdigit()	Returns True if all characters in the string are digits
17. isidentifier()	Returns True if the string is an identifier
18. islower()	Returns True if all characters in the string are lower case
19. isnumeric()	Returns True if all characters in the string are numeric
20. isprintable()	Returns True if all characters in the string are printable
21. isspace()	Returns True if all characters in the string are whitespaces
22. istitle()	Returns True if the string follows the rules of a title
23. isupper()	Returns True if all characters in the string are upper case
24. join()	Joins the elements of an iterable to the end of the string
25. ljust()	Returns a left justified version of the string
26. lower()	Converts a string into lower case
27. lstrip()	Returns a left trim version of the string
28. maketrans()	Returns a translation table to be used in translations
29. partition()	Returns a tuple where the string is parted into three parts
30. replace()	Returns a string where a specified value is replaced with a specified value
31. rfind()	Searches the string for a specified value and returns the last position of where it was found
32. rindex()	Searches the string for a specified value and returns the last position of where it was found
33. rjust()	Returns a right justified version of the string
34. rpartition()	Returns a tuple where the string is parted into three parts
35. rsplit()	Splits the string at the specified separator, and returns a list
36. rstrip()	Returns a right trim version of the string
37. split()	Splits the string at the specified separator, and returns a list
38. splitlines()	Splits the string at line breaks and returns a list
39. startswith()	Returns true if the string starts with the specified value
40. strip()	Returns a trimmed version of the string
41. swapcase()	Swaps cases, lower case becomes upper case and vice versa
42. title()	Converts the first character of each word to upper case
43. translate()	Returns a translated string
44. upper()	Converts a string into upper case
45. zfill()	Fills the string with a specified number of 0 values at the beginning

## **Python Booleans**

In programming you often need to know if an expression is True or False.

You can evaluate any expression in Python, and get one of two answers, True or False.

When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [103]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [104]:
#Print a message based on whether the condition is True or False:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

**Evaluate Values and Variables:**

The bool() function allows you to evaluate any value, and give you True or False in return,

In [105]:
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [106]:
#Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

**Most Values are True**


Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [107]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

**Some Values are False**

In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [108]:
#The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:

In [109]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

**Functions can Return a Boolean**

You can create functions that returns a Boolean Value:

In [110]:
#Print the answer of a function:

def myFunction() :
  return True

print(myFunction())

True

You can execute code based on the Boolean answer of a function:

In [111]:
# Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function, which can be used to determine if an object is of a certain data type:

In [114]:
#Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

True

## **Python Operators**

**Python Operators**


Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

In [115]:
print(10 + 5)

15

Python divides the operators in the following groups:

Arithmetic operators

Assignment operators

Comparison operators

Logical operators

Identity operators

Membership operators

Bitwise operators


**Python Arithmetic Operators**

Arithmetic operators are used with numeric values to perform common mathematical operations:

**Operator	Name	Example	Try it**

1. Addition	x + y
2. Subtraction	x - y
3. Multiplication	x * y
4. Division	x / y
5. Modulus	x % y
6. Exponentiation	x ** y
7. Floor division	x // y


**Python Assignment Operators**

Assignment operators are used to assign values to variables:

Operator	Example	Same As	Try it
1. =	--> x = 5 -->	x = 5
2. +=	--> x += 3 -->	x = x + 3
3. -=	--> x -= 3	--> x = x - 3
4. *= -->	x *= 3	--> x = x * 3
5. /=	--> x /= 3	--> x = x / 3
6. %=	 --> x %= 3	 --> x = x % 3
7. //= --> 	x //= 3 --> 	x = x // 3
8. ** = --> 	x ** = 3	 --> x = x ** 3
9. &=	x  --> x &= 3 --> 	x = x & 3
10. |= --> 	x |= 3 --> 	x = x | 3
11. ^=	 --> x ^= 3 --> 	x = x ^ 3
12. >>=	 --> x >>= 3	 --> x = x >> 3
13. <<=	--> x <<= 3	 --> x = x << 3
14. :=	 --> print(x := 3) --> 	x = 3
print(x)

**Python Comparison Operators**

Comparison operators are used to compare two values:


1. ==	Equal	x == y
2. !=	Not equal	x != y
3. >	Greater than	x > y
4. <	Less than	x < y
5. >=	Greater than or equal to	x >= y
6. <=	Less than or equal to	x <= y


**Python Logical Operators**

Logical operators are used to combine conditional statements:


1. **and** 	Returns True if both statements are true	x < 5 and  x < 10

2. **or**	Returns True if one of the statements is true	x < 5 or x < 4
3. **not**	Reverse the result, returns False if the result is true	not(x < 5 and x < 10)


**Python Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location:

**Operator	Description	Example	Try it**
1. **is** -	Returns True if both variables are the same object	x is y
2. **is not** -	Returns True if both variables are not the same object	x is not y


**Python Membership Operators**

Membership operators are used to test if a sequence is presented in an object:


1. **in** -  	Returns True if a sequence with the specified value is present in the object	x in y
2. **not in** - 	Returns True if a sequence with the specified value is not present in the object	x not in y


**Python Bitwise Operators**

Bitwise operators are used to compare (binary) numbers:


1. & 	AND	Sets each bit to 1 if both bits are 1	x & y
2. | OR	Sets each bit to 1 if one of two bits is 1	x | y
3. ^	XOR	Sets each bit to 1 if only one of two bits is 1	x ^ y
4. ~	NOT	Inverts all the bits	~x
5. <<	Zero fill left shift	Shift left by pushing zeros in from the right and let the leftmost bits fall off	x << 2
6. >>	Signed right shift	Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	x >> 2

**Operator Precedence**

Operator precedence describes the order in which operations are performed.

In [116]:
#Parentheses has the highest precedence, meaning that expressions inside parentheses must be evaluated first:

print((6 + 3) - (6 + 3))

0

In [117]:
#Multiplication * has higher precedence than addition +, and therefore multiplications are evaluated before additions:

print(100 + 5 * 3)

115

In [118]:
#Addition + and subtraction - has the same precedence, and therefore we evaluate the expression from left to right:

print(5 + 4 - 7 + 3)

5

## **Python Lists**

In [186]:
mylist = ["apple", "banana", "cherry"]

**List**


Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

In [187]:
#Create a List:

thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

**List Items**

List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

**Ordered**
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

Note: There are some list methods that will change the order, but in general: the order of the items will not change.

**Changeable**

The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

**Allow Duplicates**

Since lists are indexed, lists can have items with the same value:

In [188]:
#Lists allow duplicate values:

thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

**List Length**

To determine how many items a list has, use the len() function:

In [189]:
#Print the number of items in the list:

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

**List Items - Data Types**

List items can be of any data type:

In [190]:
#String, int and boolean data types:

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

A list can contain different data types:

In [191]:
#A list with strings, integers and boolean values:

list1 = ["abc", 34, True, 40, "male"]

**type()**

From Python's perspective, lists are defined as objects with the data type 'list':

In [192]:
#What is the data type of a list?

mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

**The list() Constructor**

It is also possible to use the list() constructor when creating a new list.

In [193]:
#Using the list() constructor to make a List:

thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

**Python Collections (Arrays)**

There are four collection data types in the Python programming language:

1. **List** is a collection which is ordered and changeable. Allows duplicate members.
2. **Tuple** is a collection which is ordered and unchangeable. Allows duplicate members.
3. **Set** is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
4. **Dictionary** is a collection which is ordered** and changeable. No duplicate members.

Note:

*Set items are unchangeable, but you can remove and/or add items whenever you like.

**As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.


When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

**Python - Access List Items**

**Access Items**

List items are indexed and you can access them by referring to the index number:

In [194]:
#Print the second item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[1]) #Note: The first item has index 0.

banana

**Negative Indexing**

Negative indexing means start from the end

-1 refers to the last item, -2 refers to the second last item etc.

In [195]:
#Print the last item of the list:

thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

**Range of Indexes**

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [196]:
#Return the third, fourth, and fifth item:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

Note: The search will start at index 2 (included) and end at index 5 (not included).

Remember that the first item has index 0.

By leaving out the start value, the range will start at the first item:

In [197]:
#This example returns the items from the beginning to, but NOT including, "kiwi":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

By leaving out the end value, the range will go on to the end of the list:

In [198]:
# This example returns the items from "cherry" to the end:

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

**Range of Negative Indexes**

Specify negative indexes if you want to start the search from the end of the list:

In [199]:
#This example returns the items from "orange" (-4) to, but NOT including "mango" (-1):

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

**Check if Item Exists**:

To determine if a specified item is present in a list use the in keyword:

In [200]:
#Check if "apple" is present in the list:

thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

**Python - Change List Items**

**Change Item Value**

To change the value of a specific item, refer to the index number:

In [201]:
#Change the second item:

thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

**Change a Range of Item Values**

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [202]:
#Change the values "banana" and "cherry" with the values "blackcurrant" and "watermelon":

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [203]:
#Change the second value by replacing it with two new values:

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

Note: The length of the list will change when the number of items inserted does not match the number of items replaced.

If you insert less items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly:

In [204]:
#Change the second and third value by replacing it with one value:

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

**Insert Items**:


To insert a new list item, without replacing any of the existing values, we can use the insert() method.

The insert() method inserts an item at the specified index:

In [205]:
#Insert "watermelon" as the third item:

thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

Note: As a result of the example above, the list will now contain 4 items.

**Python - Add List Items**

**Append Items**:


To add an item to the end of the list, use the append() method:

In [206]:
#Using the append() method to append an item:

thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

**Insert Items**:

To insert a list item at a specified index, use the insert() method.

The insert() method inserts an item at the specified index:

In [207]:
#Insert an item as the second position:

thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

Note: As a result of the examples above, the lists will now contain 4 items.

**Extend List:**

To append elements from another list to the current list, use the extend() method.

In [208]:
#Add the elements of tropical to thislist:

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

The elements will be added to the end of the list.

**Add Any Iterable:**

The extend() method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [209]:
#Add elements of a tuple to a list:

thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

**Python - Remove List Items**

**Remove Specified Item**:

The remove() method removes the specified item.

In [210]:
#Remove "banana":

thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

If there are more than one item with the specified value, the remove() method removes the first occurrence:

In [211]:
#Remove the first occurrence of "banana":

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

**Remove Specified Index:**

The pop() method removes the specified index.

In [212]:
# Remove the second item:

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

If you do not specify the index, the pop() method removes the last item.

In [213]:
#Remove the last item:

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

The del keyword also removes the specified index:

In [214]:
#Remove the first item:

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

The del keyword can also delete the list completely.

In [215]:
#Delete the entire list:

thislist = ["apple", "banana", "cherry"]
del thislist

**Clear the List:**

The clear() method empties the list.

The list still remains, but it has no content.

In [216]:
#Clear the list content:

thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

**Python - Loop Lists**

**Loop Through a List:**

You can loop through the list items by using a for loop:

In [217]:
#Print all items in the list, one by one:

thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

**Loop Through the Index Numbers:**

You can also loop through the list items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [218]:
#Print all items by referring to their index number:

thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

The iterable created in the example above is [0, 1, 2].

**

**Using a While Loop:**

You can loop through the list items by using a while loop.

Use the len() function to determine the length of the list, then start at 0 and loop your way through the list items by referring to their indexes.

Remember to increase the index by 1 after each iteration.

In [219]:
#Print all items, using a while loop to go through all the index numbers

thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

**Looping Using List Comprehension:**

List Comprehension offers the shortest syntax for looping through lists:

In [220]:
#A short hand for loop that will print all items in a list:

thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

**Python - List Comprehension**

**List Comprehension**

List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

Example:

Based on a list of fruits, you want a new list, containing only the fruits with the letter "a" in the name.

Without list comprehension you will have to write a for statement with a conditional test inside:

In [221]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

With list comprehension you can do all that with only one line of code:

In [222]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

**The Syntax:**

newlist = [expression for item in iterable if condition == True]
The return value is a new list, leaving the old list unchanged.

Condition:

The condition is like a filter that only accepts the items that evaluate to True.

In [223]:
#Only accept items that are not "apple":

newlist = [x for x in fruits if x != "apple"]

The condition if x != "apple"  will return True for all elements other than "apple", making the new list contain all fruits except "apple".

The condition is optional and can be omitted:

In [224]:
#With no if statement:

newlist = [x for x in fruits]

**Iterable:**

The iterable can be any iterable object, like a list, tuple, set etc.

In [225]:
#You can use the range() function to create an iterable:

newlist = [x for x in range(10)]

Same example, but with a condition:

In [226]:
#Accept only numbers lower than 5:

newlist = [x for x in range(10) if x < 5]

**Expression:**

The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up like a list item in the new list:

In [227]:
#Set the values in the new list to upper case:

newlist = [x.upper() for x in fruits]

You can set the outcome to whatever you like:

In [228]:
#Set all values in the new list to 'hello':

newlist = ['hello' for x in fruits]

The expression can also contain conditions, not like a filter, but as a way to manipulate the outcome:

In [229]:
# Return "orange" instead of "banana":

newlist = [x if x != "banana" else "orange" for x in fruits]

The expression in the example above says:

"Return the item if it is not banana, if it is banana return orange".

**Python - Sort Lists**

**Sort List Alphanumerically**:


List objects have a sort() method that will sort the list alphanumerically, ascending, by default:

In [230]:
#Sort the list alphabetically:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [231]:
#Sort the list numerically:

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

**Sort Descending:**

To sort descending, use the keyword argument reverse = True:

In [232]:
#Sort the list descending:

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [233]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

**Customize Sort Function:**

You can also customize your own function by using the keyword argument key = function.

The function will return a number that will be used to sort the list (the lowest number first):

In [234]:
#Sort the list based on how close the number is to 50:

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

**Case Insensitive Sort:**

By default the sort() method is case sensitive, resulting in all capital letters being sorted before lower case letters:

In [235]:
#Case sensitive sorting can give an unexpected result:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

Luckily we can use built-in functions as key functions when sorting a list.

So if you want a case-insensitive sort function, use str.lower as a key function:

In [236]:
#Perform a case-insensitive sort of the list:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

**Reverse Order:**

What if you want to reverse the order of a list, regardless of the alphabet?

The reverse() method reverses the current sorting order of the elements.

In [237]:
#Reverse the order of the list items:

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

**Python - Copy Lists**

**Copy a List:**

You cannot copy a list simply by typing list2 = list1, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

**Use the copy() method:**

You can use the built-in List method copy() to copy a list.

In [238]:
#Make a copy of a list with the copy() method:

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
Use the list() method
Another way to make a copy is to use the built-in method list().print(mylist)

SyntaxError: invalid syntax (ipython-input-2399365550.py, line 5)

**Use the list() method:**

Another way to make a copy is to use the built-in method list().

In [ ]:
#Make a copy of a list with the list() method:

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

**Use the slice Operator:**

You can also make a copy of a list by using the : (slice) operator.

In [ ]:
#Make a copy of a list with the : operator:

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

**Python - Join Lists**

**Join Two Lists:**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the + operator.

In [ ]:
#Join two list:

list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

Another way to join two lists is by appending all the items from list2 into list1, one by one:

In [ ]:
#Append list2 into list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

Or you can use the extend() method, where the purpose is to add elements from one list to another list:

In [239]:
#Use the extend() method to add list2 at the end of list1:

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**Python - List Methods**

**List Methods:**

Python has a set of built-in methods that you can use on lists.

**Method	Description**

1. append()	Adds an element at the end of the list
2. clear()	Removes all the elements from the list
3. copy()	Returns a copy of the list
4. count()	Returns the number of elements with the specified value
5. extend()	Add the elements of a list (or any iterable), to the end of the current list
6. index()	Returns the index of the first element with the specified value
7. insert()	Adds an element at the specified position
8. pop()	Removes the element at the specified position
9. remove()	Removes the item with the specified value
10. reverse()	Reverses the order of the list
11. sort()	Sorts the list

## **Python Tuples**

## **Python Sets**

## **Python Dictionaries**

## **Python IF...Else**

## **Python Match**

## **Python While Loops**

## **Python FOR Loops**

## **Python Functions**

## Python Lambda

## Python Arrays

## Python OOP

## Python CLasses / Objects

## Python Inheritance

## Python Iterators

## Python Polymorphism

##Python Scope

## Python Modeules

## Python Dates

##Python Math

## Python JSON

## Python RegEx

## Python PIP

## Python Try... Except

## Python String Formatting

## Python User Input

Python Virtual Env

# File Handling

## Python File Handling

**Python File Open**

File handling is an important part of any web application.

Python has several functions for creating, reading, updating, and deleting files.

**File Handling:**

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

There are four different methods (modes) for opening a file:

1. "r" - Read - Default value. Opens a file for reading, error if the file does not exist

2. "a" - Append - Opens a file for appending, creates the file if it does not exist

3. "w" - Write - Opens a file for writing, creates the file if it does not exist

4. "x" - Create - Creates the specified file, returns an error if the file exists

In addition you can specify if the file should be handled as binary or text mode

5. "t" - Text - Default value. Text mode

6. "b" - Binary - Binary mode (e.g. images)

**Syntax:**

To open a file for reading it is enough to specify the name of the file:

In [ ]:
f = open("demofile.txt")


# The code above is the same as:


f = open("demofile.txt", "rt")

#Because "r" for read, and "t" for text are the default values, you do not need to specify them.

#Note: Make sure the file exists, or else you will get an error.

## **Python Read Files**

Open a File on the Server
Assume we have the following file, located in the same folder as Python:

demofile.txt

Hello! Welcome to demofile.txt
This file is for testing purposes.
Good Luck!

To open the file, use the built-in open() function.

The open() function returns a file object, which has a read() method for reading the content of the file:

In [240]:
f = open("demofile.txt")
print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: 'demofile.txt'

If the file is located in a different location, you will have to specify the file path, like this:

In [ ]:
#Open a file on a different location:

f = open("D:\\myfiles\welcome.txt")
print(f.read())

**Using the with statement:**

You can also use the with statement when opening a file:

In [ ]:
#Using the with keyword:

with open("demofile.txt") as f:
  print(f.read())

**Close Files:**

It is a good practice to always close the file when you are done with it.

If you are not using the with statement, you must write a close statement in order to close the file:

In [ ]:
#Close the file when you are finished with it:

f = open("demofile.txt")
print(f.readline())
f.close()

Note: You should always close your files. In some cases, due to buffering, changes made to a file may not show until you close the file.

**Read Only Parts of the File:**

By default the read() method returns the whole text, but you can also specify how many characters you want to return:

In [ ]:
#Return the 5 first characters of the file:

with open("demofile.txt") as f:
  print(f.read(5))

**Read Lines:**

You can return one line by using the readline() method:

In [ ]:
#Read one line of the file:

with open("demofile.txt") as f:
  print(f.readline())

By calling readline() two times, you can read the two first lines:

In [ ]:
#Read two lines of the file:

with open("demofile.txt") as f:
  print(f.readline())
  print(f.readline())

By looping through the lines of the file, you can read the whole file, line by line:

In [ ]:
#Loop through the file line by line:

with open("demofile.txt") as f:
  for x in f:
    print(x)

## Python File Write/ Create Files

**Write to an Existing File:**

To write to an existing file, you must add a parameter to the open() function:

"a" - Append - will append to the end of the file

"w" - Write - will overwrite any existing content

In [241]:
#Open the file "demofile.txt" and append content to the file:

with open("demofile.txt", "a") as f:
  f.write("Now the file has more content!")

#open and read the file after the appending:
with open("demofile.txt") as f:
  print(f.read())

Now the file has more content!

**Overwrite Existing Content:**

To overwrite the existing content to the file, use the w parameter:

In [242]:
#Open the file "demofile.txt" and overwrite the content:

with open("demofile.txt", "w") as f:
  f.write("Woops! I have deleted the content!")

#open and read the file after the overwriting:
with open("demofile.txt") as f:
  print(f.read())

Woops! I have deleted the content!

Note: the "w" method will overwrite the entire file.

**Create a New File**:

To create a new file in Python, use the open() method, with one of the following parameters:

"x" - Create - will create a file, returns an error if the file exists

"a" - Append - will create a file if the specified file does not exists

"w" - Write - will create a file if the specified file does not exists

In [243]:
#Create a new file called "myfile.txt":

f = open("myfile.txt", "x")

Result: a new empty file is created.

Note: If the file already exist, an error will be raised.

## **Python Delete Files**

**Delete a File**:

To delete a file, you must import the OS module, and run its os.remove() function:

In [244]:
Remove the file "demofile.txt":

import os
os.remove("demofile.txt")#

SyntaxError: invalid syntax (ipython-input-2069774410.py, line 1)

**Check if File exist:**

To avoid getting an error, you might want to check if the file exists before you try to delete it:

In [ ]:
# Check if file exists, then delete it:

import os
if os.path.exists("demofile.txt"):
  os.remove("demofile.txt")
else:
  print("The file does not exist")

**Delete Folder:**

To delete an entire folder, use the os.rmdir() method:

Note: You can only remove empty folders.

# **Python Modules**:

##