<a href="https://colab.research.google.com/github/dakshayani2906/Data-Science-Portfolio/blob/main/Learn_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python Introduction

### Whay is Python?

popoular programming language

created - Guido van Rossum in 1991

used for?

1. Web development (server side)
2. Software Development
3. Mathematics
4. System Scripting

What can Python do?

1. Python can be used on a server to create web applications.
2. Python can be used alongside software to create workflows.
3. Python can connect to database systems. It can also read and modify files.
4. Python can be used to handle big data and perform complex mathematics.
5. Python can be used for rapid prototyping, or for production-ready software development

Why Python?
1. Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
2. Python has a simple syntax similar to the English language.
3. Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
4. Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
5. Python can be treated in a procedural way, an object-oriented way or a functional way.

Python Syntax compared to other programming languages??
1. Python was designed for readability, and has some similarities to the English language with influence from mathematics.
2. Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
3. Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

Open Google Colab from your web and start doing it anywhere

In [1]:
# First code

print("Hello, World!")

Hello, World!

## Python Indendation

Indendation refers to the spaces at the beginning of a code line

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code

In [2]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block after 'if' statement on line 1 (ipython-input-3793329317.py, line 2)

In [4]:
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!

In [5]:
if 5 > 2:
 print("Five is greater than two!")
        print("Five is greater than two!")

IndentationError: unexpected indent (ipython-input-3430240237.py, line 3)

## Python Comments

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.



Creating a Comment

Comments starts with a #, and Python will ignore them

In [ ]:
# Creating a Comment

# Comments starts with a #, and Python will ignore them

In [6]:
#This is a comment
print("Hello, World!")

Hello, World!

In [ ]:
# Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [7]:
print("Hello, World!") #This is a comment

Hello, World!

In [8]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

### Multiline Comments

Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [9]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [10]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

## Python Variables

Variables are containers for storing data values.

Creating Variables:
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [11]:
x = 5
y = "John"
print(x)
print(y)

5
John

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [12]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

### Casting

If you want to specify the data type of a variable, this can be done with casting.

In [14]:
x = str(3)
y = int(3)
z = float(3)

print(x)
print(y)
print(z)

3
3
3.0

Get the Type:

You can get the data type of a variable with the type() function.

In [15]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

Single or Double Quotes?

String variables can be declared either by using single or double quotes:

In [16]:
x = "John"
# is the same as
x = 'John'

Case-Sensitive

Variable names are case-sensitive.

In [18]:
a = 4
A = "Sally"
#A will not overwrite a
print(a)
print(A)

4
Sally

Variable Names

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

Rules for Python variables:

1. A variable name must start with a letter or the underscore character
2. A variable name cannot start with a number
3. A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
4. Variable names are case-sensitive (age, Age and AGE are three different variables)
5. A variable name cannot be any of the Python keywords.

In [19]:
# Legal Variable Names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [20]:
# Illegal Variable Names:

2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (ipython-input-675717240.py, line 3)

Variables are case - sensitive

### Python Variables - Assign Multiple Values

In [21]:
# Many Values to Multiple Variables
# Python allows you to assign values to multiple variables in one line:

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

One Value to Multiple Variables:

And you can assign the same value to multiple variables in one line:

In [22]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

Unpack a Collection:

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [23]:
#Unpaock a list:

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

Output Variables

The Python print() function is often used to output variables.

In [24]:
x = "Python is awesome"
print(x)

Python is awesome

In the print() function, you output multiple variables, separated by a comma:

In [25]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

You can also use the + operator to output multiple variables:

In [26]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

In [27]:
# For numbers, the + character works as a mathematical operator:

x = 5
y = 10
print(x + y)

15

In the print() function, when you try to combine a string and a number with the + operator, Python will give you an error:

In [28]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types:

In [29]:
x = 5
y = "John"
print(x, y)

5 John

Global Variables

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside

In [30]:
# Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [32]:
# Create a variable inside a function, with the same name as the global variable

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

The global Keyword

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [33]:
#If you sue the global keyword, the variable belong to global scope:

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

Also, use the global keyword if you want to change a global variable inside a function.

In [34]:
# To change the value of a global variable inside a function, refer to the variable by using the global keyword:

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

## Data Types

Built-in Data Types

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType


Getting the Data Type

You can get the data type of any object by using the type() function:

In [35]:
# Print the data type of the variable x:

x = 5
print(type(x))

<class 'int'>

Setting the Data Type:

In Python, the data type is set when you assign a value to a variable:

Example	Data Type	Try it
x = "Hello World"	------ str
x = 20	------  int
x = 20.5 ------	float
x = 1j	 ----- complex
x = ["apple", "banana", "cherry"]	----- list
x = ("apple", "banana", "cherry")	----- tuple
x = range(6)	------ range
x = {"name" : "John", "age" : 36}	---- dict
x = {"apple", "banana", "cherry"}	-------  set
x = frozenset({"apple", "banana", "cherry"})	------ frozenset
x = True	------- bool
x = b"Hello"	-------- bytes
x = bytearray(5)	------- bytearray
x = memoryview(bytes(5))	--------  memoryview
x = None	-----------  NoneType

Setting the Specific Data Type:

If you want to specify the data type, you can use the following constructor functions:

x = str("Hello World")	str
x = int(20)	int
x = float(20.5)	float
x = complex(1j)	complex
x = list(("apple", "banana", "cherry"))	list
x = tuple(("apple", "banana", "cherry"))	tuple
x = range(6)	range
x = dict(name="John", age=36)	dict
x = set(("apple", "banana", "cherry"))	set
x = frozenset(("apple", "banana", "cherry"))	frozenset
x = bool(5)	bool
x = bytes(5)	bytes
x = bytearray(5)	bytearray
x = memoryview(bytes(5))	memoryview

## Python Numbers

Python Numbers:

There are three numeric types in Python:

int
float
complex

Variables of numeric types are created when you assign a value to them:

In [38]:
x = 1
y = 2.8
z = 1j

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [39]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals

In [40]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Float can also be scientific numbers with an "e" to indicate the power of 10.

In [41]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

Complex

Complex numbers are written with a "j" as the imaginary part:

In [42]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

Type Conversion

You can convert from one type to another with the int(), float(), and complex() methods:

In [43]:
# Convert from one type to another:

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

Note: You cannot convert complex numbers into another number type.

Random Number:

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [44]:
import random

print(random.randrange(1, 10))

6

## Python Casting

Specify a Variable Type

There may be times when you want to specify a type on to a variable. This can be done with casting.

Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [47]:
# Integers

x = int(1)
y = int(2.8)
z = int("3")

print(x)
print(y)
print(z)

1
2
3

In [48]:
# Float
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [49]:
# Strings

x = str("s1")
y = str(2)
z = str(3.0)

print(x)
print(y)
print(z)

s1
2
3.0

## Python Strings

Strings

Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

You can display a string literal with the print() function:

In [50]:
print("Hello")
print('Hello')

Hello
Hello

Quotes Inside Quotes:

You can use quotes inside a string, as long as they don't match the quotes surrounding the string:

In [51]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

Assign String to a Variable:


Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [52]:
a = "Hello"
print(a)

Hello

Multiline Strings:


You can assign a multiline string to a variable by using three quotes:

In [54]:
# You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""


print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [57]:
# Or three single quotes:

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

Note: in the result, the line breaks are inserted at the same position as in the code.

Strings are Arrays

Like many other popular programming languages, strings in Python are arrays of unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [58]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

Looping Through a String:

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [59]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

String Length

To get the length of a string, use the len() function

In [60]:
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

Check String:

To check if a certain phrase or character is present in a string, we can use the keyword in.

In [61]:
# Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

Use it in an if statement:

In [62]:
# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

Check if NOT:

To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

In [63]:
# Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

Use it in an if statement:

In [64]:
# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.