<a href="https://colab.research.google.com/github/dakshayani2906/Data-Science-Portfolio/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Count missing values in a dataset


import pandas as pd

df = pd.read_csv("employees.csv")
print(df.isnull().sum())

In [ ]:
# Count missing values in a dataset - Advanced

import pandas as pd

df = pd.read_csv("employees.csv")

missing_summary = (
    df.isna()
    .sum()
    .reset_index(name = "missing_count")
    .query("missing_count > 0")
    .sort_values("missing_pct", ascending = False)
)

print(missing_sumamry)

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

#FInd even numbers using a loop
even_numbers = []
for num in numbers:
  if num % 2 == 0:
    even_numbers.append(num)

print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even_numbers = []
for num in numbers:
  if num % 2 == 0:
    even_numbers.append(num)
print (even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]

even_numbers = []
for num in numbers:
  if num%2 ==0:
    even_numbers.append(num)

print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
Numbers = [1,2,3,4,5,6,7,8,9,10]

#List comprehension

even_numbers = [num for num in numbers if num % 2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
even_numbers = [num for num in numbers if num %2 == 0]

print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
#even_numbers = [num for num in numbers if num %2 == 0]
even_numbers = [num for num in numbers if num% 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
odd_numbers = [num for num in numbers if num % 2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9]

In [ ]:
# Vectorization with NumPy

''' import numpy as np

numbers = np.arange(1,11)

even_numbers = numbers[numbers % 2 ==0]

'''

import numpy as np
numbers = np.arange(1,11)
even_numbers = numbers[numbers % 2 == 0]

print(even_numbers)

[ 2  4  6  8 10]

In [ ]:
# Vectorization with Pandas

''' import pandas as pd

df = pd.DataFrame({"numbers" : range(1,11)})

# Vectorized Filtering

even_numbers = df[df["numbers"] % 2 ==0]
'''

import pandas as pd
df = pd.DataFrame({"numbers" : range(1,11) })
even_numbers = df[df["numbers"] % 2 == 0]
print(even_numbers)

   numbers
1        2
3        4
5        6
7        8
9       10

Problem 1: FInad all even numbers from 1 - 20

In [ ]:
# Loop

''' even_numbers = []
for num in range(1,21):
  if num % 2 == 0:
    even_numbers.append(num)
'''

even_numbers = []
for num in range(1,31):
  if num % 2 == 0:
    even_numbers.append(num)

print(even_numbers)

even_numbers = []
for num in range(1,101):
  if num % 2 == 0:
    even_numbers.append(num)
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
# List Comprehension

#even_numbers = [num for num in range(1,21) if num %2 == 0]

even_numbers = [num for num in range(1,10) if num % 2 == 0]

print(even_numbers)

[2, 4, 6, 8]

In [ ]:
# Vectorisation NumPy

import numpy as np

numbers  = np.arange(1,21)
even_numbers = numbers[numbers % 2 ==0 ]

print(even_numbers)

[ 2  4  6  8 10 12 14 16 18 20]

Square each number in a list

In [ ]:
numbers = [1,2,3,4,5]

# Loop

squares = []
for n in numbers:
  squares.append(n**2)
print(squares)

[1, 4, 9, 16, 25]

In [ ]:
# List Comprehension

# squares = [n ** 2 for n in numbers]
squares = [n ** 2 for n in numbers]
cubes = [ n ** 3 for n in numbers]

print(squares)
print(cubes)

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

In [ ]:
# Vectorisation Numpy

import numpy as np
numbers = np.array([1,2,3,4,5])
squares = numbers ** 2

print(squares)

[ 1  4  9 16 25]

Extract names longer than 5 characters

In [ ]:
names = ["Alex", "Jonathan", "Maya", "Christopher", "Nina"]

# Loop

long_names = []
for name in names:
  if len(name) >5:
    long_names.append(name)

print(long_names)

['Jonathan', 'Christopher']

In [ ]:
#List comprehension

long_names = [ name for name in names if len(name) > 5]

print(long_names)

['Jonathan', 'Christopher']

In [ ]:
# Pandas Vectorization

import pandas as pd

df = pd.DataFrame({"name": ["Alex", "Jonathan", "Maya", "Christopher", "Nina"]})
long_names = df[df["name"].str.len() > 5 ]
print(long_names)

          name
1     Jonathan
3  Christopher

Mutliply Salaries  by 1.1 (10% hike)

In [ ]:
import pandas as pd
df = pd.DataFrame({"employee": ["A", "B", "C"], "salary": [50000, 60000, 70000]})

In [ ]:
# Loop

new_salaries = []
for s in df["salary"]:
  new_salaries.append(s * 1.1)

print(new_salaries)

[55000.00000000001, 66000.0, 77000.0]

In [ ]:
# List comprehension

new_salaries = [s * 1.1 for s in df["salary"]]
print(new_salaries)

[55000.00000000001, 66000.0, 77000.0]

In [ ]:
# Pandas Vectorisation

df["updates_salary"] = df["salary"] * 1.1
print(df)

  employee  salary  updates_salary
0        A   50000         55000.0
1        B   60000         66000.0
2        C   70000         77000.0

Filter employees with Age >30 and salary > 50K

In [ ]:
import pandas as pd
df = pd.DataFrame({
    "employee": ["A", "B", "C", "D"],
    "age": [25, 35, 40, 28],
    "salary": [40000, 60000, 70000, 45000]
})

In [ ]:
# Loop

result = []
for e, a, s in zip(df["employee"], df["age"], df["salary"]):
  if a>30 and s> 50000:
    result.append((e,a,s))

print(result)

[('B', 35, 60000), ('C', 40, 70000)]

In [ ]:
# List comprehension

result = [(e,a,s) for e,a,s in zip(df["employee"], df["age"], df["salary"]) if a> 30 and s > 50000]
print(result)

[('B', 35, 60000), ('C', 40, 70000)]

In [ ]:
# Pandas Vectorization
filtered = df[(df["age"] > 30) & (df["salary"] > 50000)]
print(filtered)

  employee  age  salary
1        B   35   60000
2        C   40   70000

Extract odd numbers from 1-15

In [ ]:
# Loop

numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

odd = []
for n in range(1,16):
  if n % 2 != 0:
    odd.append(n)

print(odd)

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
odd = []
for n in range(1,16):
  if n % 2 != 0:
    odd.append(n)
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
# List Comprehension

odd = [n for n in range(1,16) if n % 2 != 0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
odd = [n for n in range (1,16) if n % 2 != 0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15]

In [ ]:
# NUmpy

import numpy as np

num = np.arange(1,16)
odd = num[num %2 != 0]
print(odd)

[ 1  3  5  7  9 11 13 15]

In [ ]:
import numpy as np
num = np.arange(1,16)
odd = num[num % 2 != 0]
print(odd)

[ 1  3  5  7  9 11 13 15]

Convert temperatures from Celsius to Fahrenheit

In [ ]:
# F = C * 9/5 + 32

temps_c = [0,10,20,30,40]

#Loop

temps_f = []
for c in temps_c:
  temps_f.append(c* 9/5 +32)

print(temps_f)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
temps_f = []
for c in temps_c:
  temps_f.append(c* 9/5 +32)
print(temps_f)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
# list comprehension

temps_f = [c * 9/5 + 32 for c in temps_c]
print(temps_f)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
temps_f = [ c* 9/5 +32 for c in temps_c]
print(temps_f)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [ ]:
# Numpy vectorization

temps_c = np.array([0,10,20,30,40])
temps_f = temps_c * 9/5 + 32
print(temps_f)

[ 32.  50.  68.  86. 104.]

In [ ]:
temps_c = np.array([0,10,20,30,40])
temps_f = temps_c * 9 / 5 + 32
print(temps_f)

[ 32.  50.  68.  86. 104.]

Get names starting with "A"

In [ ]:
names = ["Alice", "Bob", "Angela", "Mike", "Arjun", "Aishu"]

# Loop

a_names = []
for n in names:
  if n.startswith("A"):
    a_names.append(n)
print(a_names)

['Alice', 'Angela', 'Arjun', 'Aishu']

In [ ]:
a_names = []
for n in names:
  if n.startswith("A"):
    a_names.append(n)
print(a_names)

['Alice', 'Angela', 'Arjun', 'Aishu']

In [ ]:
# LIst Comprehension
a_names = [n for n in names if n.startswith("A")]
print(a_names)

['Alice', 'Angela', 'Arjun', 'Aishu']

In [ ]:
a_names = [n for n in names if n.startswith("A")]
print(a_names)

['Alice', 'Angela', 'Arjun', 'Aishu']

In [ ]:
a_names = [n for n in names if n.startswith("B")]
print(a_names)

['Bob']

In [ ]:
# PAndas
import pandas as pd

df = pd.DataFrame({"name": ["Alice", "Bob", "Angela", "Mike", "Arjun"]})
a_names = df[df["name"].str.startswith("B")]
print(a_names)

  name
1  Bob

Add 5 years to all employee ages

In [ ]:

import pandas as pd
df = pd.DataFrame({
    "employee": ["A", "B", "C"],
    "age": [25, 30, 35]
})

In [ ]:
# Loop

new_ages = []
for a in df["age"]:
  new_ages.append(a+5)
print(new_ages)

[30, 35, 40]

In [ ]:
new_ages = []
for a in df["age"]:
  new_ages.append(a+5)
print(new_ages)

[30, 35, 40]

In [ ]:
# List Comprehension

new_ages = [a+5 for a in df["age"]]
print(new_ages)

[30, 35, 40]

In [ ]:
# Pandas

df["new_age"] = df["age"] + 5
print(df)

  employee  age  new_age
0        A   25       30
1        B   30       35
2        C   35       40

In [ ]:
df["new_age"] = df["age"] +5
print(df)

  employee  age  new_age
0        A   25       30
1        B   30       35
2        C   35       40

Select employees who earn above average salary

In [ ]:
import pandas as pd
df = pd.DataFrame({
    "employee": ["A", "B", "C", "D"],
    "salary": [40000, 50000, 60000, 70000]
})

In [ ]:
# Loop

avg_salary = sum(df["salary"]) / len(df["salary"])
above_avg = []
for e, s in zip(df["employee"], df["salary"]):
    if s > avg_salary:
        above_avg.append((e, s))
print(above_avg)

[('C', 60000), ('D', 70000)]

In [ ]:
squares_loop = []
for num in range(1,21):
  if num % 3 == 0:
      squares_loop.append(num ** 2)

print(squares_loop)

[9, 36, 81, 144, 225, 324]

In [ ]:
squares_loop = [num ** 2 for num in range(1,21) if num % 3 == 0 ]
print(squares_loop)

[9, 36, 81, 144, 225, 324]

In [ ]:
words = ["data", "science", "AI", "machine", "learning"]

length_loop = []
for word in words:
  lengths_loop.append(len(word))

print(f"Loop result : {length_loop}")

NameError: name 'lengths_loop' is not defined